<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login || Gehen</title>
    <link rel="stylesheet" href="../static/partials/css/reset.css">
    <link rel="stylesheet" href="../static/partials/css/create.css">
</head>

<body>
    <h1>Login</h1>
    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <form method="post">
        <div class="field">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="field">
            <input type="submit" class="submit-btn" value="Login">
        </div>
    </form>
</body>

</html>